body{
    font-family: 'Amatic SC', cursive;
    background-image: url('blueWhite.jpg');
    font-size: 24px;
    color: rgb(33, 30, 61);
}
h2{
    font-size: 60px;
}
h3{
    font-size: 45px;
}
img{
    overflow: hidden;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
ul{
    display: inline;
}
li{
    display: inline;
    
    list-style: none
}
.first{
    color: #fff;
    background-color: #3535358a;
    text-align: center;
}
.first ul{
    margin-right: 20px;
}

.first a{
    color: #fff;
    padding-right: 10px;
}
.first i {
    color:  rgba(125, 221, 0, 0.9);
}
.first a:hover{
    color: #ddd;
}
.resume{
    padding: 10px;
    background-color: #131327;
    color: #fff;
    border-radius: 10px;
}
.tp {
    text-align: center;
    background-color: rgba(228, 228, 228, 0.657);
}
.pt{
    /* height: 200px; */
    margin-top: 20px;
    
}
.right{
    margin-right: 5px;
    margin-left: -5px;
}
.left{
    margin-right: -5px;
    margin-left: 5px;
}
.desc{
    border: solid 2px rgba(63, 63, 63, 0.719);
    /* height: 215px; */
    /* margin: 0 5px; */
    border-radius: 10px;
    padding-bottom: 50px;
}
.prBtn{
    margin-top: 15px;
    padding: 10px;
    background-color: rgba(125, 221, 0, 0.719);
    color: rgb(33, 30, 61);
    border-radius: 10px;
}

