body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #132233;
}
/* p h3{
    color: #132233;
  
} */

.hero-image  {
    position: relative;
    max-height: 500px;
    overflow: hidden;
    width: 100%;
    

}
 li a{
    background-color: rgba(197, 190, 109, 1);
    padding: 5px;
    border-radius: 10px;
    color: #132233;
    text-decoration: none;
}
.apc{
    padding: 0px;
}

.background-img {
    width: 100%;
}
.hero-image:before{
    content: '';
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}
.first {
    position: absolute;
    top: 50%;
    right: 0px;
    left: 0;
    transform: translateY(-50%);
}
.img-circle{
    margin: -100px auto 5px; 
}
.social {
    text-align: center;
    padding-right: 10px;
}
.social li a {
    color: #280000;
}
.first li{
    display: inline;
 }
.headshot {
    position: relative;
    color: rgba(197, 190, 109, 1);
    text-align: center;
    border: 2px solid #686868;
    margin-top: 120px;
    margin-bottom: 40px;
}
.about1 {
    background-color: #280000;
    text-align: center;
    color: #132233;
    padding-bottom: 10px;
}
.about li{
    display: inline;

}
.resume{
    background-color: #000 ;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(197, 190, 109, 1);
  } 
.resume a {
    
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
   
}
.projects {
    background-color: #280000;
    text-align: center;
    color: #132233;
    
}
.projects h2 img {
    position: absolute;
    right: 20px;
}
.projects li{
    list-style: none;
    text-align: center;
    margin: 10px;
    margin-left: 20px;
    display: inline;
}
.projects li a {
/*     background-color: #fff; */
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
/*     color: black; */
    display: inline-block;
}
.prlink li a{
    display: inline-block;
}
.contact {
    background-color: #280000;
    text-align: center;
    color: #132233;
}
.contact li {
    list-style: none;
}
/* h2 p h3{
    color: rgba(197, 190, 109, 1);
} */
