body {
    background-color: #fffd73;
    color: rgb(255, 60, 0);
    text-align: center;
} 

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(9, 25, 56);
    font-size: 29px;
}

img {
    width: 500px;
    height:320px;
    border-radius: 150px;
}
.Table table{
    text-align: center;
}